<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                        <div class="carousel-indicators">
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src=" https://images6.alphacoders.com/346/thumb-1920-346199.jpg" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="   https://images.wallpaperscraft.com/image/single/books_library_shelves_138556_3840x2160.jpg" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="   https://ak.picdn.net/shutterstock/videos/8712118/thumb/1.jpg" class="d-block w-100" alt="...">
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                </div>
            </div>
            <div class="row g-3">
                <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card">
                        <img height="50%" src="https://images-na.ssl-images-amazon.com/images/I/71RbV6eW6NL.jpg   " class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card title">Ummini Baliya Onnu</h5>
                          <a href="#" class="btn btn-primary">Buy Now</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                     
                    <div class="card">
                        <img height="556px" src="https://image3.mouthshut.com/images/imagesp/925616314s.jpg  " class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card title">Aadu Jeevitham</h5>
                          <a href="#" class="btn btn-primary">Buy Now</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card">
                        <img height="556px" src="https://wallpapercave.com/wp/wp1850860.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card title">Harry Potter</h5>
                          <a href="#" class="btn btn-primary">Buy Now</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card">
                        <img height="50%" src=" https://pbs.twimg.com/media/EtRCiAKVEAIoJsa?format=jpg&name=medium" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card title">Lord Of The Rings</h5>
                          <a href="#" class="btn btn-primary">Buy Now</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card">
                        <img height="540px" src="https://i.pinimg.com/474x/83/99/72/8399726a0a47849af120c6d928f47e94--cover-design-book-covers.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card title">Merchent Of Venice</h5>
                          <a href="#" class="btn btn-primary">Buy Now</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card">
                        <img height="540px" src="https://images-na.ssl-images-amazon.com/images/I/81kv6Hm8byL.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card title">A Warriors Of Life</h5>
                          <a href="#" class="btn btn-primary">Buy Now</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card">
                        <img height="50%" src="https://images-eu.ssl-images-amazon.com/images/I/41WjzwLnfhL._SX342_SY445_QL70_ML2_.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card title">The Prophet</h5>  
                          <a href="#" class="btn btn-primary">Buy Now</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card">
                        <img height="573px" src="https://images-na.ssl-images-amazon.com/images/I/51NRkX2bPbL._SX329_BO1,204,203,200_.jpg " class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card title">The Alchemist</h5>
                          <a href="#" class="btn btn-primary">Buy Now</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card">
                        <img height="573px" src="https://images-na.ssl-images-amazon.com/images/I/71e9MY-XE9L.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card title">The Blue Umbrella</h5>
                          <a href="#" class="btn btn-primary">Buy Now</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card">
                        <img height="573px" src=" https://images-na.ssl-images-amazon.com/images/I/91G2UVP41aL.jpg " class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card title">A Woman In The Window</h5>
                          <a href="#" class="btn btn-primary">Buy Now</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
